<form method="post" id={{linkNumber}} action="/" class="inline">
  <input type="hidden" name={{linkNumber}} form={{linkNumber}} value="{{sentence}}">
  <button type="submit" form={{linkNumber}} class="linkButton">
    {{sentence}}
  </button>
</form>
